.interface {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.composition-box {
    /* border: 2px solid rgb(0, 0, 0); */
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    /* width: 75%; */
    min-height: 500px;
    flex-wrap: wrap;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    gap: 32px 0px;
}

.measure-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border: 1px solid black;
    padding: 0;
    margin-bottom: 5px;
    min-width: 240px;
    width: auto;
    height: 90px;
    position: relative;
}

.measure-box .measure-buttons button {
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.1s ease;
}

.measure-box:hover .measure-buttons button {
    opacity: 1;
}

.measure-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;
    transform: translateY(60px);
}


.note {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.note span {
    /* background-color:rgb(244, 244, 244);; */
    margin: 0;
    padding: 0;
    z-index: 1;
    /* min-width: 10px; */
}


.chord-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 10;
}

.swap-buttons {
    position: absolute;
    left: -25px;
    top: 50%;
    /* transform: translateY(-30%); */
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

.edit-buttons {
    position: absolute;
    right: -40px;
    top: 50%;
    /* transform: translateY(-30%); */
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

.chord-box .chord-buttons button {
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.1s ease;
}

.chord-box:hover .chord-buttons button {
    opacity: 1;
}

.chord-box {
    position: relative;
    display: inline-block;
    z-index: 0;
    display: flex; 
    flex-direction: column;
    cursor: pointer;
    padding: 15px;
    width: 40px;
    transform: translate(17.4px, -40px);
}


.duration-box {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -44px;
    left: 24%;
    height: 30px;
    width: 30px;
    transform: translate(6px, 5px);
    /* background-color: #171717; */
    /* background-color:rgb(244, 244, 244); */
    /* color: white; */
    /* padding: 2px 5px; */
    border-radius: 3px;
    font-size: 0.8em;
    z-index: 0;
    justify-content: center;
    align-items: center;
}

.duration-WHOLE {
    width: 15px;
    height: auto;
}

.duration-HALF,
.duration-QUARTER {
    width: 10px;
    height: auto;
}

.duration-EIGHTH,
.duration-SIXTEENTH {
    width: 17px;
    height: auto;
}

.string {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.486);
    position: absolute;
}

.string:nth-child(1) { top: 12.852px; z-index: 0; }
.string:nth-child(2) { top: 25.704px; z-index: 0; }
.string:nth-child(3) { top: 38.556px; z-index: 0; }
.string:nth-child(4) { top: 51.408px; z-index: 0; }
.string:nth-child(5) { top: 64.26px; z-index: 0; }
.string:nth-child(6) { top: 77.112px; z-index: 0; }

.chord-box.highlight {
    background-color: rgba(255, 215, 0, 0.3); /* gold flash */
    transition: background-color 0.3s ease;
}