.interface {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.composition-box {
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    width: 75%;
    min-height: 500px;
    flex-wrap: wrap;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    gap: 32px 0px;
}

.measure-box {
    margin-top: 30px;
    border: 1px solid black;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    min-width: 240px;
    max-width: 240px;
    height: 94px;
    position: relative;
}

.measure-box .delete-measure {
    /* display: none; */
    position: absolute;
    bottom: -26%;
    left: 5%;
    cursor: pointer;
    font-size: 20px;
    color: black;
    background-color:rgb(244, 244, 244);
    border: 2px solid black;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.measure-box:hover .delete-measure {
    opacity: 1;
}

.measure-box .add-measure {
    /* display: none; */
    position: absolute;
    bottom: -26%;
    left: 20%;
    cursor: pointer;
    font-size: 20px;
    color: black;
    background-color:rgb(244, 244, 244);
    border: 2px solid black;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.measure-box:hover .add-measure {
    opacity: 1;
}

.measure-box .duplicate-measure {
    /* display: none; */
    position: absolute;
    bottom: -26%;
    left: 35%;
    cursor: pointer;
    font-size: 20px;
    color: black;
    background-color:rgb(244, 244, 244);
    border: 2px solid black;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.measure-box:hover .duplicate-measure {
    opacity: 1;
}

.time-sig-box {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    max-width: 60px;
    height: 94px;
    position: relative;
}

/* not currently used*/
.chord-name {
    font-size: 10px;
}

.note {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.note span {
    /* background-color:rgb(244, 244, 244);; */
    margin: 0;
    padding: 0;
    z-index: 1;
    min-width: 10px;
}

.chord-box {
    opacity: 1;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.chord-box {
    position: relative;
    z-index: 0;
}

.chord-box.active {
    opacity: 1;
    color: red;
    background-color: blue;
}

.chord-container {
    position: relative;
    display: inline-block;
}

.duration-box {
    position: absolute;
    top: -44px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #171717; */
    /* background-color:rgb(244, 244, 244); */
    /* color: white; */
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.8em;
    z-index: 1;
}

.duration-WHOLE {
    width: 15px;
    height: auto;
}

.duration-HALF {
    width: 10px;
    height: auto;
}

.duration-QUARTER {
    width: 10px;
    height: auto;
}

.duration-EIGHTH {
    width: 17px;
    height: auto;
}
.duration-SIXTEENTH {
    width: 17px;
    height: auto;
}

.string {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.486);
    position: absolute;
}

.string:nth-child(1) {
    top: 15%;
    z-index: 0;
}

.string:nth-child(2) {
    top: 29%;
    z-index: 0;
}

.string:nth-child(3) {
    top: 43%;
    z-index: 0;
}

.string:nth-child(4) {
    top: 57%;
    z-index: 0;
}

.string:nth-child(5) {
    top: 71%;
    z-index: 0;
}

.string:nth-child(6) {
    top: 85%;
    z-index: 0;
}
