body {
    background-color:azure;
}

body p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button {
    background-color: cadetblue;
    color: white;
}

.measure-box {
    border: 1px dashed gray;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    min-width: 240px;
    max-width: 240px;
    height: 94px;
    position: relative;
 }
 
.composition-box {
    border: 2px solid rgb(0, 0, 0);
    margin: 5px;
    padding: 10px;
    display: flex;
    margin: 0;
    gap: 0;
    width: 95%;
    min-height: 500px;
    flex-wrap: wrap;
}

/* not currently used*/
.chord-name {
    font-size: 10px;
}

.note {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    
}

.note span {
    background-color: white;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.string {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
}

.string:nth-child(1) {
    top: 15%;
    z-index: 0;
}

.string:nth-child(2) {
    top: 29%;
    z-index: 0;
}

.string:nth-child(3) {
    top: 43%;
    z-index: 0;
}

.string:nth-child(4) {
    top: 57%;
    z-index: 0;
}

.string:nth-child(5) {
    top: 71%;
    z-index: 0;
}

.string:nth-child(6) {
    top: 85%;
    z-index: 0;
}
