@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color:rgb(244, 244, 244);
}

body p {
    font-family: 'Ubuntu';
    font-weight: bold;
}

.interface {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.title {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.button-container {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 25px;
    box-sizing: border-box;
    width: 75%;
    display: flex;
    justify-content: space-evenly; /* space evenly */
    align-items: center; /* center items vertically */
}

.button {
    background-color: rgb(107, 107, 107);
    background-color:rgb(244, 244, 244);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 55px;
    border: solid;
    justify-content: center;
    padding: 20px;
    transition: box-shadow 0.3s ease;
    font-family: 'Ubuntu';
    font-weight: bold;
}

.button:hover {
    background-color: linear-gradient(145deg, #3e3e3e, #6b6b6b);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
 
.composition-box {
    border: 2px solid rgb(0, 0, 0);
    margin: 5px;
    padding: 10px;
    display: flex;
    gap: .1px;
    margin: 0;
    width: 95%;
    min-height: 500px;
    flex-wrap: wrap;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    gap: 5px 0px;
}

.measure-box {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    min-width: 240px;
    max-width: 240px;
    height: 94px;
    position: relative;

}

/* not currently used*/
.chord-name {
    font-size: 10px;
}

.note {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.note span {
    background-color:rgb(244, 244, 244);;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.chord-box {
    opacity: 0.5;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.chord-box.active {
    opacity: 1;
}

.chordModal {

}

.string {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
}

.string:nth-child(1) {
    top: 15%;
    z-index: 0;
}

.string:nth-child(2) {
    top: 29%;
    z-index: 0;
}

.string:nth-child(3) {
    top: 43%;
    z-index: 0;
}

.string:nth-child(4) {
    top: 57%;
    z-index: 0;
}

.string:nth-child(5) {
    top: 71%;
    z-index: 0;
}

.string:nth-child(6) {
    top: 85%;
    z-index: 0;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* for fretboard that appears when user clicks chord */
#row {
    background-color: darkgray;
}

.string-rows {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers rows horizontally */
}

.string-rows div {
    display: flex;
    padding: 2px;
    border: solid;
}

.note-btn.pressed {
    background: blue;
    color: white;
    opacity: 1;
    border: none;
    border-radius: 100px;
}

.note-btn {
    background-color: darkgray;
    opacity: 0;
    height: 50px;
    width: 50px;
}

.note-btn-div {
    border: 5px solid;
    border-color: red;
}