<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/15.1.2/Tone.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/page.css}">
    <script type="text/javascript" th:src="@{/js/page.js}"></script>
    <script type="text/javascript" th:src="@{/js/sound.js}"></script>

</head>
<body>
    <div class="interface">
        <span class="tabreader">GUITAR TAB READER</span>
        <span class="title" th:text="${compositionInfo.title} + ' by ' + ${compositionInfo.composer}"></span>
        <p class="timestamp" th:text="'Created ' + ${#dates.format(compositionInfo.timestamp, 'hh:mm a')} + ' on ' + ${#dates.format(compositionInfo.timestamp, 'MMMM dd, yyyy')}"></p>
        <div class="button-container">

            <button id="add-new-measure" class="button">Add Measure</button>
            <button id="play-btn" class="button">Play</button>
            <button id="pause-btn" class="button">Pause</button>
            <button id="new-composition" class="button">New Song</button>
            

            <form id="composition-form">
                <!-- <label for="composition">Select song</label> -->
                <select id="composition-dropdown" name="selectedComposition" class="composition-dropdown">
                    <option value="" disabled selected>Select Song</option>
                    <option th:each="composition : ${allCompositions}" 
                            th:value="${composition.id}"
                            th:text="${composition.title}"></option>
                </select>
                <!-- <button type="submit">Submit</button> -->
            </form>
        </div>

        <!--volume control and bpm control are separate from the other buttons-->
        <div class="slider-container">
            <div class="slider-class">
                <label for="volume">Volume:</label>
                <input type="range" id="volume" class="slider" min="0" max="100" value="50" step="1">
                <span id="volumeValue">50</span>
            </div>
            <div class="slider-class">
                <label for="bpm">BPM:</label>
                <input type="range" id="bpm" class="slider" min="50" max="200" value="120" step="1">
                <span id="bpmValue">120</span>
            </div>
        </div>

        <!--note in chord in measure in composition-->
        <!--<p th:text="${measure}">Default text</p>-->
        <!--currently trying to print out all the notes in the first chord of the composition-->
        <!--<li th:each="note : ${composition.measure.chord.allNotes}" th:text="${note.interval}"></li>-->
        
        <div class="composition-box">
            <!-- <div class="time-sig-box">
                <span th:text="${timeSig.numNoteValuesPerMeasure}"></span>
                <span th:text="${timeSig.noteValue}"></span>
            </div> -->
            <div th:each="measure1, measureStat : ${allMeasures}">
                <!-- <p th:text="'measure = ' + ${measure1}"></p> -->
                <!-- <p>1</p> -->
                <div class="measure-box">
                    <div class="string"></div>
                    <div class="string"></div>
                    <div class="string"></div>
                    <div class="string"></div>
                    <div class="string"></div>
                    <div class="string"></div>
                    <div th:each="chord1, chord1stat : ${measure1.allChords}">
                        <!-- <p class = "chord-name"th:text="'chord = ' + ${chord1}"></p> -->
                        <div class="chord-box"
                            th:id="'measure' + ${measureStat.index} + 'chord' + ${chord1stat.index}"
                            th:attr="data-measure-id=${chord1.measureId},data-chord-num=${chord1.chordNumber}" 
                            th:onclick="'chordClicked(' + ${measureStat.index} + ','+ ${chord1stat.index} + ')'">
                            <div th:each="note1 : ${chord1.allNotes}">
                                <p class="note"
                                   th:attr="data-duration=${note1.duration},data-fret-number=${note1.fretNumber}">
                                    <!-- if not rest -->
                                    <span th:if="${note1.fretNumber == -1 or note1.fretNumber == -2}">X</span>
                                    <span th:unless="${note1.fretNumber == -1 or note1.fretNumber == -2}" th:text="${note1.fretNumber}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="chordModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <span class="virtual-fretboard">VIRTUAL FRETBOARD</span>
                <div class="string-rows">
                    <div th:each="i : ${#numbers.sequence(1, 6)}" th:id="'row-' + ${i}">
                        <div class="note-btn-div">
                            <span th:each="j : ${#numbers.sequence(0, 11)}">
                                <button th:text="${fretboard[i - 1][j]}" class="note-btn" th:id="${i} + '-' + ${j}" th:attr="data-string=${i}, data-fret=${j}"></button>
                            </span>
                        </div>
                    </div>
                    <p id="notesDisplay"></p>
                </div>
                <select id="duration-dropdown" name="duration">
                    <option value="empty"></option>
                    <option value="sixteenth">Sixteenth</option>
                    <option value="eighth">Eighth</option>
                    <option value="quarter">Quarter</option>
                    <option value="half">Half</option>
                    <option value="whole">Whole</option>
                </select>
                <select id="type-dropdown" name="type">
                    <option value="note-option">Chord/Note</option>
                    <option value="rest-option">Rest</option>
                </select>
                <button id="confirm-btn" class="button">Confirm</button>
            </div>
        </div>

        <div id="popup" class="popup">
            <div class="popup-content">
                <h2>Enter song's title and composer</h2>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
                <label for="composer">Composer:</label>
                <input type="text" id="composer" name="composer" required>
                <button id="submit">Submit</button>
                <button id="cancel">Cancel</button>
            </div>
        </div>
    </div>
    
    <!-- Include jQuery -->
    
    
    <script>


        
    </script>

</body>
</html>
