<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/test2.css}" >
</head>
<body>
    <p>test2</p>
    <form th:action="@{/posttest}" method="post">
        <button type="submit">Add measure</button>
    </form>
    <!--note in chord in measure in composition-->
    <p th:text="${measure}">Default text</p>
    <!--currently trying to print out all the notes in the first chord of the composition-->
    <li th:each="note : ${composition.measure.chord.allNotes}" th:text="${note.interval}"></li>
</body>
</html>